body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
}

/* TOP NAV */
.top-nav {
  margin: 0;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 0.7rem;
  background-color: #545452;
  padding: 0.5rem 0.2rem;
  margin: 0;
}
.top-menu-item {
  color: #eee;
  cursor: pointer;
}
.dash {
  color: #ccc;
}
.pipe-upper {
  color: #eee;
}
.strong {
  font-weight: bold;
}

/* HEADER - SECONDARY NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #ff5700;
  font-size: 1.2rem;
  padding: 0 2rem;
}
.logo {
  width: 150px;
  height: 50px;
  padding: 0.5rem;
}
.secondary-menu {
  display: flex;
  list-style-type: none;
  font-size: 1rem;
  padding: 0 0.2rem;
  margin: 0.5rem 0 0 0;
}
.sec-menu-item {
  padding-right: 1rem;
  border-right: 1px solid #fff;
  margin-right: 1rem;
  color: #fff;
  margin-top: 1.5rem;
}
.current {
  font-weight: bold;
}
.last-item {
  border: none;
}
.fa-user {
  color: black;
  font-size: 1.2rem;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 0.2rem;
}

/* MAIN CONTENT - CARD */
.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin: 1rem;
  background-color: #fbf7f6;
  border-radius: 0.7rem;
  padding: 0.5rem;
  -webkit-box-shadow: 12px -10px 11px -6px rgba(247, 240, 237, 1);
  -moz-box-shadow: 12px -10px 11px -6px rgba(247, 240, 237, 1);
  box-shadow: 12px -10px 11px -6px rgba(247, 240, 237, 1);
}
.card-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card-title {
  margin: 0.3rem 0 0 0;
}
.card-img {
  display: block;
  width: 100px;
  height: 80px;
  margin: -0.5rem auto;
  border-radius: 1rem;
  border: 1px solid #8f7a70;
  padding: 0.5rem;
}
.num {
  color: #545452;
  font-size: 2rem;
  margin: 0 0 0 0.2rem;
  opacity: 0.8;
}
.votes {
  color: #00a8ff;
  font-size: 1.3rem;
  margin: 0.4rem 0.2rem 0 0;
}
.arrow {
  opacity: 0.4;
  font-size: 1rem;
}
.card-title {
  font-size: 1.3rem;
  text-align: center;
}
.card-submit {
  text-align: center;
}
.author {
  color: #00a8ff;
  cursor: pointer;
}
.card-bottom {
  display: flex;
  justify-content: space-around;
}
.social {
  margin: 0 0.2rem;
  flex-wrap: nowrap;
  color: #ff5700;
}

/* LOWER MENU */
.lower-menu {
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem solid #7f7f7d;
}
.menu-part {
  font-size: 1rem;
  margin: 0 2rem;
  list-style-type: none;
  color: #545452;
  border-top: 0.05rem solid #7f7f7d;
  padding: 1rem 0;
  height: 12rem;
}
.first-item {
  font-weight: bold;
  color: #00a8ff;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem;
}
.link {
  color: #00a8ff;
}
.footer-text {
  margin: 0;
}
